*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: EB Garamond;
    list-style: none;
}

body {
    background: linear-gradient(245.59deg, #4d9559 0%, #38703d 28.53%, #133917 75.52%);
}

section{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}

div {
    height: auto;
    width: 100%;
}

header{
    display:flex;
    justify-content: space-between;
}
nav {
    float:right;
}

img {
    position:relative;
    left: px;
    height: auto;
    max-width: 50%;
    float: right;
}

h2 {}


.logo {
 
}

.logo:hover {

    cursor: pointer;
    text-decoration: underline;
}

.logo:active{

}

.navlist {}

.navlink {
    margin: 10px;
    border-left: solid 1px white;
    padding-left: 15px;
    justify-content: center;
}

.navburger {
    display: None;
}

.button {
    cursor: pointer;
    background-color: #4d9559;
    border-radius: 20%;
    padding: 5px;
}